@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    font-family: 'Lato', 'nanum gothic', sans-serifserif;
    font-size: 12px;
    color: black;
    word-wrap: break-word;
}

a {
    text-align: center;
    text-decoration: none;
    color: black;
}


p {
    text-align: left;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.alignmiddle {
    text-align: center;
}


#main div{
    height: 800px;
    background-image: url('../img/bg01.jpg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.arrow{
    left: 94%;
    bottom: 25px;
    position: fixed;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: black transparent transparent transparent;
}

.arrowsecond {
    bottom: 40px;
}

.arrowthird {
    bottom: 55px;
}

hr {
    display: block;
    height: 1px;
    border-top: 1px solid black;
    margin: 20px 0;

}

.header {
    width: 100%;
    /* text-transform: uppercase; */
    z-index: 1;
    position: fixed;
    height: 85px;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
}

.menu {
    height: 40px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7)
}

.menuleft {
    margin: 10px;
}

.menuright {
    margin:10px;
    bottom: 60px;
}

header div a {
    padding: 0 20px;
    line-height: 40px;
    display: inline-block;
    transition: all .3s;
    font-size: 12px;
}

header div a:hover {
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

header div a:active {
    background-color: black;
    color: white;
}

.icon {
    padding: 0 5px;
}


.title {
    letter-spacing: 4px;
    margin: 150px 0 0 0;
    text-align: center;
    padding: 0 20px;
    line-height: 40px;
    display: inline-block;
}

.container {
    margin: 100px auto;
}

ul.liststyle li {
    float: left;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 25px;
}

ul.liststyle li .thumb {
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
    height: 300px;
}

ul.liststyle li .work001 {
    background-image: url('../img/work/Artwork_A846007_8.png');
}

ul.liststyle li .work002 {
    background-image: url('../img/work/onion.jpg');

}

ul.liststyle li .work003 {
    background-image: url('../img/work/Piecesofbrokenglass-mirakkong.jpg');

}

ul.liststyle li .work004 {
    background-image: url('../img/work/xd_mirakkong16.jpg');

}

dt {
    margin-bottom: 10px;
    font-size: 12px;
}

dd {
    font-size: 11px;
    line-height: 18px;
}

.pointcolor{
    color: lightseagreen;
}

#profile ul.liststyle dl{
    text-align: left;
    margin-bottom: 20px;
}



#link ul li p.exitlink a{
    text-align: left;
    padding: 0 10px;
    line-height: 40px;
    display: inline-block;
    margin: 8px 8px 8px 0;
    border: white;
    border-bottom: 1px solid black;
    background-color: white;
    target: blank;
}

#footer {
    background-color: black;
    height: 200px;
    width: 100%;
    padding: 0 10px;
    text-align: center;
}

#footer p{
    color: gray;
    margin: 50px;
    display: inline-block;
}

/*web size*/
@media only screen and (min-width: 65em) {
    .menuleft {
        width: 550px;
        float: left;
    }

    .menuright {
        width: 350px;
        float: right;
    }


    ul.liststyle li {
        width: 33.3%;
    }

    .container {
        max-width: 1200px;
    }

    #link ul.liststyle li{
        width: 100%;
    }

    #main div{
        width: 100%;
        height: 800px;
        background-size: 100% auto;
        background-position: top center;
    }



}

/*i-pad size*/
@media only screen and (min-width: 35em) and (max-width: 65em){
    ul.liststyle li {
        width: 50%;
    }

}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}