@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    font-family: 'Lato', 'nanum gothic', sans-serifserif;
    font-size: 12px;
    color: black;
    word-wrap: break-word;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}


p {
    text-align: left;
    font-size: 12px;
    line-height: 22px;
}

#main div{
    width: 100%;
    height: 600px;
    background-image: url('../img/bg01.gif');
    background-size: auto 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

.arrow{
    left: 94%;
    bottom: 25px;
    position: fixed;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: black transparent transparent transparent;
}

.arrowsecond {
    bottom: 40px;
}

.arrowthird {
    bottom: 55px;
}

hr {
    display: block;
    height: 1px;
    border-top: 1px solid #999999;
    margin: 20px 0;
}

.header {
    width: 100%;
    /* text-transform: uppercase; */
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    overflow: hidden;
}

.w-mywork{
    display: block;
}

.menu {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
}

.menuleft {
    margin: 10px;
}

.menuright {
    margin:10px;
    bottom: 60px;
    display: none;
}

.hiddenname{
    display: none;
}

header div a {
    padding: 0 20px;
    line-height: 40px;
    display: inline-block;
    transition: all .3s;
    font-size: 12px;
    color: white;
}

header div a:hover {
    background-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    color: white;
}

header div a:active {
    background-color: black;
    color: white;
}

.icon {
    padding: 0 5px;
}

.icon img{
    max-width: 24px;
    height: auto;
}


.title {
    letter-spacing: 4px;
    text-align: center;
    line-height: 40px;
    color: white;
    text-transform: uppercase;
}

.titlecontainer{
    margin: 10px;
    /*border: 1px solid black;*/
    padding: 64px 0 0 0;
}


.container {
    margin: 30px auto;
}


.menuinheader{
    padding: 0 20px;
}


ul.liststyle li {
    float: left;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

ul.liststyle li .thumb {
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
    height: 300px;
}

ul.liststyle li .work140701 {
    background-image: url('../img/work/1407_happy/20140702_happy_mv_net.mov_000166933.jpg');
}
ul.liststyle li .work140601 {
    background-image: url('../img/work/1406_xd24/work006.jpg');
}
ul.liststyle li .work140401 {
    background-image: url('../img/work/1404_whoami/digitalwondering_mirakong01.jpg');
}
ul.liststyle li .work131101 {
    background-image: url('../img/work/1311_travellog/IMG_5119_2.jpg');
}
ul.liststyle li .work130801 {
    background-image: url('../img/work/1308_Indonesia/IMG_4176.JPG');
}
ul.liststyle li .work130701 {
    background-image: url('../img/work/1307_japan/IMG_2613.JPG');
}
ul.liststyle li .work121101 {
    background-image: url('../img/work/1211_PerfectSinglefamily/perfectsinglefamily_01.png');
}

ul.liststyle li .work120801 {
    background-image: url('../img/work/1208_hongkong/hongkong08_mirakkong.com.jpg');
}

ul.liststyle li .work120401 {
    background-image: url('../img/work/1204_philcebu/Cebu03_mirakkong.com.JPG');
}

ul.liststyle li .work120230 {
    background-image: url('../img/work/1202_railro/IMG_0257.JPG');
}

ul.liststyle li .work120210 {
    background-image: url('../img/work/1202_omc_sitcafe/001.jpg');
}

ul.liststyle li .work120201 {
    background-image: url('../img/work/1202_xd_lujingren/xd_mirakkong16.jpg');
}




ul.liststyle li .work111201 {
    background-image: url('../img/work/1112_lghausys/IMG_9836.JPG');
}

ul.liststyle li .work110701 {
    background-image: url('../img/work/1107_railro/railro_mirakkkong04.JPG');
}

ul.liststyle li .work110601 {
    background-image: url('../img/work/1106_500diary/IMG_8667-01.jpg');
}

ul.liststyle li .work110501 {
    background-image: url('../img/work/1105_gardenofdelight/IMG_9756-1.jpg');
}

ul.liststyle li .work110401 {
    background-image: url('../img/work/1104_mirrorball/hongdae_mirakkong05.jpg');
}
ul.liststyle li .work110301 {
    background-image: url('../img/work/1103_you_onion_me_mira/onion.jpg');
}
ul.liststyle li .work110101 {
    background-image: url('../img/work/1101_nepal/nepal_mirakkong11.JPG');
}
ul.liststyle li .work101001 {
    background-image: url('../img/work/1010_discrepancy/04.jpg');
}
ul.liststyle li .work100720 {
    background-image: url('../img/work/1007_Europe/01spain_mirakkong_07.jpg');
}
ul.liststyle li .work100710 {
    background-image: url('../img/work/1007_Europe/02france_mirakkong_03.jpg');
}
ul.liststyle li .work100701 {
    background-image: url('../img/work/1007_Europe/04Czech_mirakkong_01.jpg');
}
ul.liststyle li .work100001 {
    background-image: url('../img/work/1000_finearts/Piecesofbrokenglass-mirakkong.jpg');
}
ul.liststyle li .work100002 {
    background-image: url('../img/work/1000_finearts/mirrorball_mirakkong.jpg');
}
ul.liststyle li .work100003 {
    background-image: url('../img/work/1000_finearts/aslide_mirakkong.jpg');
}
ul.liststyle li .work100201 {
    background-image: url('../img/work/1002_china/beijing8-mirakkong.jpg');
}
ul.liststyle li .work100101 {
    background-image: url('../img/work/1001_phil/phil_mirakkong_16.jpg');
}
ul.liststyle li .work090001 {
    background-image: url('../img/work/0900_railroad/railroad4_mirakkong.jpg');
}
ul.liststyle li .work090601 {
    background-image: url('../img/work/0906_frame/frame8-mirakkong.jpg');
}



.textbold{
    font-weight: 600;
}

dt {
    margin: 6px 0;
    line-height: 18px;
}

dd {
    font-size: 11px;
    margin: 6px 0 10px 0;
}

.pointcolor{
    color: #a3a3a3;
}

#profile ul.liststyle dl{
    text-align: left;
    margin-bottom: 30px;
}

#profile img{
    margin-bottom: 30px;
}

#link ul li p.exitlink a{
    text-align: left;
    padding: 0 10px;
    line-height: 40px;
    display: inline-block;
    margin: 8px 8px 8px 0;
    border: white;
    border-bottom: 1px solid black;
    background-color: white;
    target: blank;
}

#footer {
    background-color: black;
    padding: 20px 0;
    line-height: 5;
}

#footer p{
    color: #888686;
    text-align: center;
}

/*web size*/
@media only screen and (min-width: 65em) {
    .menuleft {
        width: 411px;
        float: left;
    }

    .menuright {
        width: 396px;
        float: right;
        display: inline;
    }

    .hiddenname{
        display: inline;
    }

    ul.liststyle li {
        width: 33.3%;
    }

    .container {
        max-width: 1200px;
    }

    #link ul.liststyle li{
        width: 100%;
    }

    #main div{
        width: 100%;
        height: 800px;
        background-size: 100% auto;
        background-position: top center;
    }

    .titlecontainer{
        max-width: 1200px;
    }

}

/*i-pad size*/
@media only screen and (min-width: 35em) and (max-width: 65em){
    ul.liststyle li {
        width: 50%;
    }

    #main div{
        width: 100%;
        background-size: 100% auto;
        background-position: top center;
    }

    .hiddenname{
        display: inline;
    }

}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}